/* Tooltip Styles */
.cm-tooltip {
    padding: 4px 8px;
    background: var(--background-secondary) !important;
    z-index: var(--layer-tooltip);
    color: var(--text-normal);
    border-radius: 4px;
    font-size: var(--font-interface-theme);
    width: 90%;
    max-width: var(--file-line-width);
    max-height: 200px;
    border: 1px solid var(--background-modifier-border) !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (min-width: 1024px) {
        margin-left: 10px;
    }
    
}

.cm-tooltip-editor {
    display: flex;
    padding: 1px 0 1px 10px;
    height: var(--line-height);
    width: auto;
    max-height: 100%;
    align-items: center;
    background-color: var(--background-primary);
    border: 1px solid var(--background-modifier-border-focus);
    border-radius: 4px;
    overflow: hidden;
    margin-left: 8px;
    flex: 1 0 0;
    transition: flex-basis 0.3s ease;
}

/* Loader Animation */
.loader {
    width: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
    color: var(--text-normal);
    background: var(--background-primary);
    animation: l5 1s infinite linear alternate;
    margin: 0 20px 0 26px;
}

@keyframes l5 {
    0%, 33% {
        box-shadow: 10px 0 var(--text-accent), -10px 0 var(--text-faint);
        background: var(--text-accent);
    }
    66%, 100% {
        box-shadow: 10px 0 var(--text-faint), -10px 0 var(--text-accent);
        background: var(--text-faint);
    }
}

/* Button Styles */
.submit-button {
    height: var(--line-height);
}

.reload-button {
	padding-top: 3px;
	padding-bottom: 1px;
}

.accept-button {
    background-color: var(--interactive-accent) !important;
    color: var(--text-on-accent) !important;
}

.tooltip-button {
    height: 100%;
    margin-left: 8px;
    border: 1px solid var(--background-modifier-border-focus);
}

/* Conflict Styles */
.cm-conflict-current {
    background-color: rgba(255, 0, 0, 0.2);
    padding-left: 2px;
}

.cm-conflict-incoming {
    background-color: rgba(0, 255, 0, 0.2);
    padding-left: 2px;
}

.cm-selected-inline {
    background-color: var(--text-highlight-bg);
}

/* Tooltip Arrow */
.cm-tooltip-arrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid var(--background-modifier-border) !important;
}
